version: '3'

services:
    web:
        build: ./docker-nginx
        ports:
            - 80:80
        depends_on:
            - app
        volumes:
            - ./docker-nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./../src:/var/www/html
        links:
            - app
    app:
        build: ./docker-php
        depends_on:
            - db
        links:
            - db
        volumes:
            - ./../src:/var/www/html
    db:
        image: mysql:5.7.19
        ports:
            - 3306:3306
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: education